.badge {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 30px;
    

    &--green {
        background-color: #03964c;
    }
    &--blue {
        background-color: #14a5b8;
    }
    &--pink {
        background-color: #df02df;
    }

    &--grey {
        background-color: #C9D1D3;
    }

    &--lime {
        background-color: #B6E6BD;
    }

    &--purple {
        background-color: #C355F5;
    }

    &--red {
        background-color: #fc1616;
    }

    &--black {
        background-color: #260077;
    }
}